/*Globals styles*/
.bg-color{
  background-color: #c0dfd9;
}
.all-titles{
  font-family: 'Dancing Script', cursive;
  color: #097695;
}
.subtitulo-slogan{
  font-family: 'Handlee', cursive;
}

.paragraph{
  font-family: 'Handlee', cursive;
  font-size: 21px;
}
.contenedor{
  width: 100%;
  background-color:#c0dfd98f;

}
/*Navbar Styles*/
.navbar-color{
  
 }
.nav-brand{
  font-size: 46px;
  font-family: 'Dancing Script', cursive;
  color: rgba(27, 130, 170, 0.527);
  margin-left: 15px;
  margin-bottom: 16px;
  
}
.navbar-links-colors{
  color: rgba(27, 130, 170, 0.61);
  font-size: 20px;
  font-family: 'Lobster Two', cursive;
  
}
.navbar-links-colors:hover{
  text-decoration: none;
  color:black;
  
}

.dropdown-link:hover{
  color:black;

}
/*Landingpages Styles*/
.titulo-descripcion{
  font-family: 'Handlee', cursive;
  color: rgba(27, 130, 170, 0.61);
}
.social-icons{
 width:10%;
 height: 30%;
 padding:10px;

}


.fa-facebook-f, .fa-instagram, .fa-envelope{
  color: rgba(27, 130, 170, 0.61);
  font-size: 30px;
}
.fa-facebook-f, .fa-instagram, .fa-envelope{
  color: rgba(27, 130, 170, 0.61);
  font-size: 30px;
}

/*Contact Styles*/



/*Content Styles*/
.content{
  background-color: rgba(255, 228, 196, 0.014);
}

/*Products Styles*/
.products-grid{
  display: flex;
}
.tabs p{
  font-family: 'Handlee', cursive;
  color: rgba(27, 130, 170, 0.527);
  font-size: 18px;
  
}

/*Boton agregar al carro*/
.btn-add{
  
}
